body {
height : 90%;
width : 100%;
background-color : #ffe5cc;
}

header {
    background-color : #ffe5cc;
}



main img {
height : 100%;
width : 100%;
}


.dia{
position : absolute;
top : 54%;
left : 57%;
height : 15%;
width : 13%;
color: white;
}

