main {
width : 100%;
height : 90%;
}

ul {
width : 100%;
display : flex;
flex-direction: column;
margin-top: 1rem;
align-items: center;
}

li {
width : 100%;
margin-bottom: 1rem;
text-align: center;
display: flex;
align-items: center;
justify-content: space-around;
}

li img {
margin-left: 1rem;
max-width: 50%
}

li h2 {
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 0.4rem;
}

#add {
width: 100%;
text-align: center;
}